body {
    font-family: "Poppins", sans-serif;
    color: #22343d;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;  
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.container{
width: 1150px;
margin: 0 auto ;
padding: 0 20px;
}
/* HEADER */

.header {

}
.header-container {
    display: flex;
    align-items: center;

} 
.header-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 237px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

.logo {}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    gap: 30px;
}

/* .header-nav-item:not(:last-child) {
  margin-right: 30px;
} */

.header-nav-link {
    padding: 26px 0;
    display: block;
    line-height: 1.75;
    color: #22343d;
}

.current {
    font-weight: 600;
}

.header-btn-list {
    display: flex;
    gap: 21px;
}

.header-btn-item {}

.header-btn {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    background-color: transparent;
    font-weight: 600;
    text-align: center;
    color: #173a56;
}

.header-btn:hover,
.header-btn:focus {
    color: #fff;
    background-color: #02897a;
    border: none;
}
/* HERO */

.hero {
    padding-top: 25px;
    padding-bottom: 100px;
}

.hero-container {
display: flex;
align-items: center;
justify-content: space-between;

}
.hero-title {
font-weight: 700;
    font-size: 40px;

    /* line-height: 60px; */
    line-height: 1.5;
    color: #22343d;
    max-width: 452px;
    margin-bottom: 18px;
}

.hero-text{
font-weight: 400;
    font-size: 18px;
max-width: 465px;
    /* line-height: 28px; */
    line-height: 1.55556;
    color: #22343d;
    padding-bottom: 45px;
}

.hero-buttons {
    display: flex;
    gap: 30px;
    
}

.button-border {
border-radius: 4px;
    min-width: 178px;
    height: 53px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border: none;
}

.button-none-border {
    min-width: 164px;
    height: 23px;
    border: none;
    background-color: #fff;
    font-weight: 600;
        font-size: 16px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #02897a;
        padding-top: 15px;
}

/* BENEFITS */

.benefits {

}

.benefits-container {
    
}

.benefits-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    padding-bottom: 50px;
    max-width: 539px;
    text-align: center;
    margin: 0 auto;
}

.benefits-subtitle {
font-weight: 600;
font-size: 22px;
color: #22343d;
padding-top: 18px;
padding-bottom: 13px;
}

.benefits-list-text {
font-weight: 400;
font-size: 16px;
line-height: 1.625;
color: #22343d;
padding-bottom: 26px;

}

.benefits-list {
 display: flex;
    gap:30px; 
}

.benefits-list-content {
    width:calc((100% - 90px)/4)
}

.benefits-btn {
min-width: 175px;
height: 53px;
border: none;
border-radius: 5px;
background-color: #02897a;
color: #fff;
text-transform: uppercase;
display: block;
margin: 0 auto;
margin-top: 50px;
margin-bottom: 50px;
font-weight: 700;
    font-size: 16px;
    color: #fff;

}

.features-box {
    display: flex;
    align-items: center;
    justify-content: center;
border-radius: 19px;
   background-color: #f03e3d;
   width: 54px;
   height: 54px;
}

.featutes-icon {
    fill: #fff;
}


.features-iteem:nth-child(1) .features-box {
    background-color: #02897a;
}

/* MANAGMENT */

.main-container {
    padding-top: 52px;
    padding-bottom: 62px;
}

.managment-container,
 .support-container {
    display: flex;
    gap: 84px;
    margin-bottom: 100px;
}


.managment-subtitle,
.support-subtitle,
.collaborative-subtitle {
    font-weight: 700;
        font-size: 32px;
        color: #22343d;
        padding-bottom: 25px;
}

.managment-text,
.support-text,
.collaborative-text {
    font-weight: 600;
        font-size: 16px;
        color: #22343d;
        padding-bottom: 8px;
}

.name-managment-item,
.name-collaboration-item {
    padding-top: 30px;
    padding-bottom: 12px;
}

.managment-item,
.support-item,
.collaborative-item {
font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    max-width: 486px;
}

.support-container {
    display: flex;
}

.collaborative-container  {
    display: flex;
}

/* FOOTER */

.form-filed {

}

.social-links {
    display: flex;
    gap: 16px;
}

.socialmedia-content {
    width: 40px;
    height: 40px;
}

.link.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #edfffc;

}

.social-links {
stroke-width: 2px;
fill: #02897a;
}

.link.icon-link:hover,
.link.icon-link:focus {
    background-color: #2964b1;
}

.link.icon-link:hover .icon,
.link.icon-link:focus .icon {
    background-color: #2964b1;
    fill:#edfffc;
}

.link.icon-link + svg

.form-field-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 30px;
    
}
.form-field-label {
    position: relative;
    display: block;
    margin-bottom: 25px;
}

.input-form {
  
    height: 48px;
    width: 325px;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid #bcd0e5;
    outline: transparent;

}
.input-form::placeholder {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
}


.form-field-icon {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    fill: #02897a;
}


.submit-btn {
    border-radius: 4px;
    min-width: 131px;
    height: 39px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border: none;
    text-align: center;
}
